# oh-my-zsh and plugins
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "48h"
[".oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "48h"
[".oh-my-zsh/custom/plugins/zsh-aliases-eza"]
    type = "archive"
    url = "https://github.com/DarrinTisdale/zsh-aliases-exa/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "48h"
[".oh-my-zsh/custom/plugins/zsh-better-npm-completion"]
    type = "archive"
    url = "https://github.com/lukechilds/zsh-better-npm-completion/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "48h"
[".oh-my-zsh/custom/plugins/zsh-vi-mode"]
    type = "archive"
    url = "https://github.com/jeffreytse/zsh-vi-mode/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "48h"
[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "48h"
# Vim plug
[".vim/autoload/plug.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    refreshPeriod = "300h"
[".local/bin/cht.sh"]
    type = "file"
    url = "https://cht.sh/:cht.sh"
    refreshPeriod = "300h"
    executable = true
[".config/bat/themes/Catppuccin-latte.tmTheme"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Latte.tmTheme"
    refreshPeriod = "300h"
[".config/bat/themes/Catppuccin-frappe.tmTheme"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Frappe.tmTheme"
    refreshPeriod = "300h"
{{- if (eq .chezmoi.os "linux") }}
{{-   if (or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "linuxmint")) }}
# Neovim will be build from this directory
[".neovim"]
    type = "archive"
    url = "https://github.com/neovim/neovim/archive/v0.9.4.tar.gz"
    refreshPeriod = "1000h"
    stripComponents = 1
{{-   end }}
[".fzf"]
    type = "archive"
    url = "https://github.com/junegunn/fzf/archive/master.tar.gz"
    refreshPeriod = "48h"
{{- end }}
