{{- $work := (default false (env "WORK_ENV")) -}}

diff:
  pager: diff-so-fancy
  exclude: [scripts, externals]
data:
  isWorkComputer: {{ $work }}
  linux:
    appsPath: {{ .chezmoi.homeDir }}/.local/bin
    neovimSource: {{ .chezmoi.homeDir }}/.neovim
