# Rebind prefix key
unbind C-b
set-option -g prefix C-Space
bind-key C-Space send-prefix

{{- if eq .chezmoi.os "darwin" }}
set-option -g default-shell "/bin/zsh"
{{- end }}

# Set automatic renumber of windows
set -g renumber-windows on
# Start panes and windows as 1
set -g base-index 1
setw -g pane-base-index 1

# Activity monitors
setw -g monitor-activity off
set -g visual-activity off

set-option -g set-titles on
set-option -g set-titles-string "#T - #W"

# Custom configs
set -g default-terminal "tmux-256color"
set -ga terminal-overrides ",*256col*:Tc"
set -g assume-paste-time 0
set -g mouse on
set -g pane-border-format "#P: #{pane_current_command}"
set -g status on
setw -g aggressive-resize on
setw -g main-pane-width 200
setw -g mode-keys vi

# Select panes using Vim movement
bind -r k select-pane -U
bind -r j select-pane -D
bind -r h select-pane -L
bind -r l select-pane -R

# Resize pane shortcuts
bind -r H resize-pane -L 5
bind -r J resize-pane -D 5
bind -r U resize-pane -U 5
bind -r L resize-pane -R 5

# Custom bindings
bind-key Z send-keys 'tfocus' Enter
# This one is not working with vim
bind-key C-z send-keys 'tunfocus' Enter
bind-key | split-window -h -c "#{pane_current_path}"
bind-key - split-window -v -c "#{pane_current_path}"
bind-key r source-file ~/.tmux.conf \; display-message "Config reloaded"
bind C-l send-keys 'C-l'
bind x kill-pane

# TPM Plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'wfxr/tmux-power'

# TPM Config
set -g @tmux_power_theme 'default'

if "test ! -d ~/.tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm && ~/.tmux/plugins/tpm/bin/install_plugins'"

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
