#!/bin/bash

GREEN="\033[1;32m"
NOCOLOR="\033[0m"

function exist() {
  command -v "$1" >/dev/null 2>&1
}

function print_msg() {
  echo -e "${GREEN}$1 \n${NOCOLOR}"
}

function install_omz() {
  if ! [ -d ~/.oh-my-zsh ]; then
      sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc
  else
      cd $HOME/.oh-my-zsh/tools
      sh ./install.sh --unattended --keep-zshrc
      cd $HOME
  fi
}

function install_fzf() {
  if [ -d ~/.fzf ]; then
    cd ~/.fzf
    ./install --all
    cd $HOME
  fi
}

function installing_nerd_fonts() {
  FONT_VERSION="v3.0.1"

  print_msg "Installing Nerd Fonts $FONT_VERSION"

  mkdir -p ~/.local/share/fonts
  cd ~/.local/share/fonts

  declare -a fonts=(
    "CascadiaCode"
    "FantasqueSansMono"
    "FiraCode"
    "JetBrainsMono"
    "VictorMono"
  )

  for font in "${fonts[@]}"; do
    print_msg "Installing $font"
    wget -q https://github.com/ryanoasis/nerd-fonts/releases/download/${FONT_VERSION}/${font}.zip
    unzip -f "$font.zip"
    rm "$font.zip"
  done

  cd $HOME
}

function install_nvm() {
  print_msg "Installing NVM"

  if ! exist nvm; then
    PROFILE=/dev/null bash -c 'wget -qO- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.3/install.sh | bash'
  fi
}

function install_starship() {
  curl -sS https://starship.rs/install.sh | sh -s -- -y
}

{{- if eq .chezmoi.os "linux" }}
{{-   if (or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "linuxmint")) }}
installing_nerd_fonts

if ! exist diff-so-fancy; then
  print_msg "Installing diff-so-fancy"
  sudo nala install -y diff-so-fancy
fi

if ! exist zsh; then
  sudo nala install -y zsh
fi

install_omz

install_fzf

if ! exist ripgrep; then
  sudo nala install -y ripgrep
fi

if ! exist tmux; then
  sudo nala install -y tmux
fi

if ! exist ag; then
  sudo nala install -y silversearcher-ag
fi

if ! exist wget; then
  sudo nala install -y wget
fi

if ! exist bat; then
  sudo nala install -y bat
fi

install_nvm

install_starship
{{-   else if eq .chezmoi.osRelease.id "fedora" }}
installing_nerd_fonts

if ! exist zsh; then
  sudo dnf install -y zsh --quiet
fi

install_omz

install_fzf

if ! exist diff-so-fancy; then
  sudo dnf install -y diff-so-fancy
fi

if ! exist ripgrep; then
  sudo dnf install -y ripgrep
fi

if ! exist tmux; then
  sudo dnf install -y tmux
fi

if ! exist ag; then
  sudo dnf install -y the_silver_searcher
fi

if ! exist wget; then
  sudo dnf install -y wget
fi

if ! exist bat; then
  sudo dnf install -y bat
fi

install_nvm

install_starship
{{-   end }}
{{- else if eq .chezmoi.os "darwin" }}
install_nvm
{{- end }}
